<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>stamp_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 9}, {73, 55}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{73, 55}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{313, 201}, {73, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {75, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 69}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{51, 150}, {75, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {75, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 73}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {75, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {67, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 65}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 138}, {67, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 8}, {65, 59}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{65, 59}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 130}, {65, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {71, 67}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{71, 67}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 0}, {71, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {69, 63}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{69, 63}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 0}, {69, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 13}, {59, 55}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{59, 55}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{449, 59}, {59, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 7}, {37, 67}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{37, 67}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 69}, {37, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {63, 69}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{63, 69}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 146}, {63, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {61, 67}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{61, 67}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{169, 69}, {61, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {55, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 63}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 65}, {55, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {69, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{69, 69}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{77, 0}, {69, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {49, 67}}</string>
			<key>spriteOffset</key>
			<string>{-3, 4}</string>
			<key>spriteSize</key>
			<string>{49, 67}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 138}, {49, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {59, 57}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{59, 57}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{449, 0}, {59, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {61, 65}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{61, 65}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{271, 69}, {61, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 10}, {55, 61}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{55, 61}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{347, 0}, {55, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {53, 67}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{53, 67}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{221, 0}, {53, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 11}, {75, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{75, 49}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 207}, {75, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {61, 73}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{61, 73}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 75}, {61, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 4}, {31, 69}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{31, 69}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 71}, {31, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {67, 63}}</string>
			<key>spriteOffset</key>
			<string>{2, 3}</string>
			<key>spriteSize</key>
			<string>{67, 63}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{313, 136}, {67, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 1}, {49, 71}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{49, 71}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 150}, {49, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stamp_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {71, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 69}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 75}, {71, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>stamp.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>